* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	width: 100%;
	height: 70px;
	background-color: #ec715f;
}

.header-logo {
	height: 70px;
}

.header-list {
	color: #fafafa;
	list-style: none;
	display: flex;
	align-items: center;
}

.header-list-item {
	font-size: 16px;
	margin: 0 30px;
}

.header-box {
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}

.header-box > .header-logo {
  margin-right: auto;
}

.main-visual {
	width: 100%;
	height: 650px;
	color: #fafafa;
	text-align: center;
	background-image: url(img/mv.png);
	background-position: bottom;
	background-size: cover;
}

.main-visual-logo {
	font-size: 64px;
	padding-top: 200px;
	margin-bottom: 10px;
}

.main-visual-text {
	font-size: 20px;
}

.portfolio {
	width: 100%;
	background-color: #eceff1;
}

.portfolio-box {
	width: 920px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}

.logo {
	font-size: 32px;
	color: #000000;
}

.logo::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.text {
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
}

.portfolio-image-box {
	width: 300px;
	height: 250px;
}

.portfolio-image1 {
	background-image: url(img/sketch.jpg);
	background-size: cover;
	background-position: center;
}

.portfolio-image2 {
	background-image: url(img/websuku.png);
	background-size: cover;
	background-position: center;
	margin: 0 10px 10px 10px;
}

.portfolio-image3 {
	background-image: url(img/write.jpg);
	background-size: cover;
	background-position: center;
}

.portfolio-image4 {
	background-image: url(img/webcamp.png);
	background-size: cover;
	background-position: center;
}

.portfolio-image5 {
	background-image: url(img/talk.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 10px;
}

.portfolio-image6 {
	background-image: url(img/webcamp-mother.png);
	background-size: cover;
	background-position: center;
}

.image-box {
	display: flex;
	flex-wrap: wrap;
}

.feature {
	width: 100%;
}

.feature-box {
	width: 990px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}

.strength-box {
	width: 320px;
}

.strength-box2 {
	margin: 0 10px;
}

.fas {
	font-size: 60px;
}

.strength-logo {
	font-size: 20px;
	margin: 10px 0;
}

.strength-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.strength-flex {
	display: flex;
    flex-direction: row;
}

.profile {
	width: 100%;
	background-color: #eceff1;
}

.profile-box {
	width: 1024px;
	text-align: center;
	padding: 90px 0;
	margin: 0 auto;
}

.profile-contents {
	width: 50%;
}

.face-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.profile-logo {
	font-size: 20px;
	color: #000000;
	margin-bottom: 5px;
}

.profile-text {
	font-size: 16px;
}

.profile-flex {
	display: flex;
}

.profile-left {
	text-align: left;
}

.skill-logo {
	margin-top: 20px;
}

.contact {
	width: 100%;
}

.contact-box {
	width: 800px;
	padding: 90px 0;
	margin: 0 auto;
	text-align: center;
}

.contact-flex {
	display: flex;
}

.contact-contents {
	width: 400px;
	text-align: left;
}

.contact-logo {
	font-size: 20px;
	margin-bottom: 5px;
}

.contact-tel {
	margin-top: 20px;
}

.fab {
	font-size: 50px;
}

.contents {
	width: 130px;
	margin: 0 auto;
}

.contentss {
	width: 180px;
	margin: 0 auto;
}

.fa-twitter {
	margin: 0 20px;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #ec715f;
}

.footer-text {
	font-size: 16px;
	color: #fafafa;
	text-align: center;
	line-height: 60px;
}